* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #230140, #43007b);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    font-family: Arial;
}

.quiz {
    background: #230140;
    padding: 30px;
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    color: white;
}

.pergunta {
    margin-bottom: 25px;
}

.pergunta p {
    margin-bottom: 10px;
    font-weight: bold;
}

label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    cursor: pointer;
}

input[type="radio"] {
    margin: 0;
}

button {
  width: 200px;
  height: 45px;
  border: none;
  background-color: #fff;
  color: #4B0082;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
   margin-top: 20px;

  
}

button:hover {
  background-color: rgba(137, 43, 226, 0.65);
}